.App {
  text-align: center;
}

.App-logo {
  height: 50vh;
  width: 100%;
}


.App-header {
  background-color: #040711;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tp-portal {
  width: 100%;
  height: 100vh;
  background-image: url("../src/images/hero_img.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.tp-sub-portal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.tp-card {
  width: 40%;
  background-color: #394150 !important;
  border-radius: 10px !important;
}

.tp-sub-card {
  padding: 0.7rem;
}

.translate-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {}

.soundIcon {
 padding: 5px;
}

.tp-language {
  display: grid;
  grid-auto-flow: column;
}

.tp-each-language {
  color: #4D5562;
  font-size: 0.8rem;
  font-weight: 600;
  height: 1.2rem;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
  width: 4rem;
}

.horizontal-line {
  background-color: #4D5562;
  border: none;
  height: 1px;
  margin: 1px;
}

.alert-container {
  display: inline;
  position: absolute;
  top: 5px;
  margin-left: 2rem;
}

.alert-output-container {
  position: absolute;
  top: 5px;
}

.loader-container {
  position: relative;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  -webkit-perspective: 780px;
  perspective: 780px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.loader.hide {
  opacity: 0;
  pointer-events: none;
}

.loader-text {
  font-family: serif;
  font-style: italic;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: bold;
  color: #cecece;
  z-index: 10;
}

.load-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
}

.load-inner.load-one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid #5c5edc;
  -webkit-animation: rotate1 1.15s linear infinite;
  animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
  right: 0%;
  top: 0%;
  border-right: 3px solid #9147ff;
  -webkit-animation: rotate2 1.15s 0.1s linear infinite;
  animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid #3b82f6;
  -webkit-animation: rotate3 1.15s 0.15s linear infinite;
  animation: rotate3 1.15s 0.15s linear infinite;
}

#content {
  opacity: 0;
  transition: opacity 1.5s ease;
}

#content.show {
  opacity: 1;
  transition: opacity 1.5s ease;
  color: #eeeeee;
  text-align: center;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

.button-style{
  text-transform: none;
}

.button-style:disabled{
  background-color: #1976d2 !important;
  opacity: 0.7;
  color: white !important;
}

.small-square {
  width: 2rem;
  height: 1.9rem;
  border: 2px solid #4D5562;
  border-radius: 10px;
}

.small-square-space {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .tp-sub-portal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 100%;
    width: 90%;
  }

  .tp-card {
    width: 100%;
  }

  .tp-portal {
    width: 100%;
    background-image: url("../src/images/hero_img.jpg");
  }


}