.App {
  text-align: center;
}

.App-logo {
  height: 50vh;
  width: 100%;
}


.App-header {
  background-color: #040711;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tp-portal{
  width: 100%;
  height: 60vh;
  background-image: url("../src/images/hero_img.jpg");
}

.tp-sub-portal{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;
}

.tp-card{
  width: 40%;
  background-color: #394150 !important;
  border-radius: 10px !important;
}

.tp-sub-card{
  padding: 0.7rem;
}

.translate-style{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box{
}

.soundIcon{
  margin-right: 1rem;
}

.tp-language{
  display: grid;
  grid-auto-flow: column;
}

.tp-each-language{
  color: #4D5562;
  font-size: 0.8rem;
  font-weight: 600;
  height: 1.2rem;
  padding: 3px;
  display: flex;
  justify-content: space-evenly;
}

.horizontal-line {
  background-color: #4D5562;
  border: none;
  height: 1px;
  margin: 1px;
}

.alert-container{
  display: inline;
  position: absolute;
  top: 5px;
  margin-left: 2rem;
}

.alert-output-container{
  position: absolute;
  top: 5px;
}

.loader-container {
  position: relative;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  -webkit-perspective: 780px;
  perspective: 780px;
  opacity: 1; /* Initially visible */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.loader.hide {
  opacity: 0;
  pointer-events: none; /* Disable pointer events when hidden */
}

.loader-text {
  font-family: serif;
  font-style: italic;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: bold;
  color: #cecece; /* Color of "Loading" text */
  z-index: 10; /* Show on top */
}

.load-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
}

.load-inner.load-one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid #5c5edc;
  -webkit-animation: rotate1 1.15s linear infinite;
  animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
  right: 0%;
  top: 0%;
  border-right: 3px solid #9147ff;
  -webkit-animation: rotate2 1.15s 0.1s linear infinite;
  animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid #3b82f6;
  -webkit-animation: rotate3 1.15s 0.15s linear infinite;
  animation: rotate3 1.15s 0.15s linear infinite;
}

#content {
  opacity: 0; /* Initially hidden */
  transition: opacity 1.5s ease; /* Smooth transition for opacity */
}

#content.show {
  opacity: 1;
  transition: opacity 1.5s ease;
  color: #eeeeee;
  text-align: center;
}

@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}

@keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}
